@font-face {
    font-family: "Luckiest Guy";
    src: url('fonts/LuckiestGuy-Regular.ttf');
 }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    background-image: url('img/sharks-1867523_1280.jpg');
    background-position: center;
}

canvas {
    background-color: black;
    width: 720px;
    height: 480px;
}
