@font-face {
    font-family: "Luckiest Guy";
    src: url('fonts/LuckiestGuy-Regular.ttf');
 }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    background-image: url('img/sharks-1867523_1280.jpg');
    background-position: center;
}

canvas {
    background-color: black;
    width: 720px;
    height: 480px;
}

h1 {
    height: 150px;
    margin-block-end: 0;
    margin-block-start: 0;
    display: flex;
    justify-content: center;    align-items: center;
}

#start_view {
    width: 720px;
    height: 480px;
    background-color: black;
    position: absolute;
    margin-top: 150px;    
    background-image: url('img/3. Background/Legacy/Dark/1.png');
    background-size: cover;
}

.button {
    height: 50px;
}

.controls {
}