@font-face {
    font-family: "Luckiest Guy";
    src: url('fonts/LuckiestGuy-Regular.ttf');
 }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, blue, cornflowerblue);
}

canvas {
    background-color: black;
    width: 720px;
    height: 480px;
    border-radius: 10px;
    display: block;
}

h1 {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px #25100A;
}

#start_view {
    width: 720px;
    height: 480px;
    background-color: black;
    position: absolute;
    background-image: url('img/3. Background/Legacy/Dark/1.png');
    background-size: cover;
    border-radius: 10px;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#btn_up, #btn_left, #btn_down, #btn_right, #btn_fire {
    touch-action: none;
}

.start_button {
    height: 50px;
    border: 3px solid white;
    text-align: center;
    padding: 0 40px;
    background-color: rgb(250, 246, 26);
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 117);
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.start_button:hover {
    background-color: rgb(50, 50, 117);
    color: rgb(250, 246, 26);
    text-shadow: 2px 2px 2px #25100A;
}

.start {
    display: flex;
    justify-content: center;
    z-index: 2;
}

span {
    font-size: 32px;
    color: white;
    margin-left: 20px;
    text-shadow: 2px 2px 2px #25100A;
}

.controls {
    display: flex;
    width: 100%;
}

.sharkie_image {
    width: 90px;
    margin-top: -160px;
    width: 50%;
}

.controls_menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    margin: 60px 40px 0 0;
    gap: 20px;
}

.button_arrows {
    height: 70px;
}

.button_space {
    height: 35px;
}

.control_menu_left {
    display: flex;
    align-items: center;
}

.buttons {
    width: 30px;
    height: 30px;
    background-color: rgb(250, 246, 26);
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.buttons:hover {
    background-color: rgb(50, 50, 117);
    color: rgb(250, 246, 26);
}

.button_try_again {
    top: 369px;
    left: 411px;
    position: relative;
}

#you_win {
    width: 721px;
    height: 480px;
    background-color: rgba(25, 31, 52, 0.4);
    position: absolute;
    border-radius: 10px;
    display: none;
    z-index: 999;
    border-radius: 10px;
}

#game_over {
    width: 721px;
    height: 480px;
    background-color: rgba(25, 31, 52, 0.8);
    position: absolute;
    border-radius: 10px;
    display: none;
    z-index: 999;
    border-radius: 10px;
}

#game_over h1 {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 160px;
    position: absolute;
    width: 721px;
    font-size: 110px;
}

#mobile_panel {
    position: absolute;
    width: 720px;
    height: 400px;
}

.mobile_panel {
    display: flex;
    align-items: end;
    justify-content: space-between;
    visibility: hidden;
}

.all_controls_button {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_bar_button {
    height: 64px;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 15px;
    gap: 20px;
}

.mobile_panel button {
    font-weight: 700;
    font-size: 32px;
    color: white;
    width: 50px;
    height: 50px;
    background-color: rgba(250, 246, 26, 0.3);
    border: 3px solid rgba(255,255,255,0.8);
    border-radius: 50%;
    cursor: pointer;
}

.mobile_panel button:hover {
    background-color: rgba(250, 246, 26, 0.6);
}

.controls_button_mobile {    
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 15px;
}

.trow_button_mobile {
    margin-right: 20px;    
}

.up_button_mobilie {
    display: flex;
    justify-content: center;
}

.left_right_button_mobile {
    display: flex;
    gap: 20px;
}


@media only screen and (max-width: 720px) {
    canvas ,#start_view, #controls_panel, #game_over, .mobile_panel {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas, #start_view, #controls_panel, .mobile_panel {
        height: 100vh;
    }

    .mobile_panel {
        visibility: initial;
    }
}